
$pink_light:#efa2b4;
$cyan_light:#aef4ee;
$green_yelllow:#cddc39;
$white_alpha:rgba(255,255,255,.4);
$section-height:100vh;
$nav-height:70px;
$primary-color:crimson;

.flex{
  display: flex;
  &--column{
    @extend .flex;
    flex-direction: column;
  }
  &--center{
    @extend .flex;
    justify-content: center;
    align-items:center;
  }
}
.button{
  background:none;
  border:none;
  outline: none;
  border-radius: 40px;
  height:50px;
  width:200px;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  background-color:$primary-color;
}
.shadow-crimson{
  box-shadow: 0 0 25px crimson;
}
.shadow-grey{
  box-shadow: 0 0 25px gainsboro;

}
body{
  font-family:'Roboto',sans-serif
}
h1{
  font-weight:600;
}

ul{
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  color:black;
}

::-webkit-scrollbar{
  width:5px;
}
::-webkit-scrollbar-thumb{
  background-color: $primary-color;
  border-radius: 20px;
}

.nav-bar{
  height: $nav-height;
  position:fixed;
  padding:0 1rem 0 1rem;
  top:0;
  left:0;
  width:100vw;
  overflow:hidden;
  background-color: white;
  @extend .flex,.shadow-grey;
  .nav-bar-title{
    @extend .flex--center;
    color:$primary-color;
  }
  .nav-bar-button{
    display:none;
  }
  .nav-menu-links{
    flex-grow: 1;
    
    ul{
      height:100%;
      @extend .flex--center;
      justify-content: flex-end;
      column-gap: .7rem;
      a{
        font-size: 1.2rem;
        font-weight: 600;
        transition:border .3s ease;
        &:hover{
          color:$primary-color;
        }
        
      }
      i{
        display:none
      }
    }
  }
}
section{
  margin-top: $nav-height;
  height:calc(#{$section-height} - #{$nav-height});
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  padding:0 2rem 0 2rem;
  >*{
    height:calc(#{$section-height} - #{$nav-height});

    scroll-snap-align: start;
  }
}

.home-container{
    display:grid;
  grid-template-columns:1fr 1fr ;
  .text-container{
    @extend .flex--column,.flex--center;
    align-items: flex-start;
    p{
      font-size: 18px;
    }
    .text-title{
      color:$primary-color;
      font-size: 50px;
      font-weight: 600;
    }
    span{
      color:$primary-color;
    }
    button{
      @extend .button;
      margin-top: 20px;
      &:hover{
        @extend .shadow-crimson
      }
    }
  }
  .image-container{
    @extend .flex--center;
    .image-box{
      width: 280px;
      height:280px;
      max-width:280px;
      position: relative;
      border-radius: 20px;
      box-shadow: 0 0 25px gainsboro;
      border-radius: 50%;
      overflow:hidden;
      img{
        width:100%;
        height:max-content;
        position:absolute;
        object-fit: contain;
        top:-280px;
      }
    }
  }
  
}
.contact-container{
  position: relative;
  @extend .flex--center;
  
  &::before{
    content:'';
    height:200px;
    width: 200px;
    border-radius: 50%;
    background-color:rgba($primary-color,.6) ;
    position:absolute;
    top:10px;
    left:-10px;
    z-index: -1;
  }
  &::after{
    content:'';
    height:300px;
    width: 300px;
    border-radius: 50%;
    background-color:rgba($primary-color,.7) ;
    position:absolute;
    bottom:10px;
    right:-10px;
    z-index: -1;
  }
  form{
    width:80%;
    height:auto;
    @extend .shadow-grey;
    position: relative;
    background-color:rgba(255,255,255,.8);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem auto;
    h1{
      grid-column: span 2;
      text-align:center
    }
    .form-right,.form-left{
      grid-row-start: 2;
    }
    .form-right{
      width:100%;
      display: flex;
      flex-direction: column;
      justify-content:center;
      h4{
        color:$primary-color;
      }
      p{
        @extend .flex;
        align-items:center;
      }
      i{
        color:$primary-color;
        font-size: 1.3rem;
        margin-right:1rem
      }
    }
    .form-left{
      @extend .flex--column;
      align-items:flex-start;
      .form-group{
        @extend .flex--column;
        
        width:100%;
        label{
          font-weight: 400;
          font-size: 1.2rem;
          margin-top:10px;
          font-weight:600 ;
        }
        input{
          background:none;
          border: none;
          outline:none;
          height:40px;
          background-color:rgba(lightgray,.4);
          border-radius: 20px;
          width: 90%;
          padding:20px;
          font-weight: 600;
        }
        textarea{
          background:none;
          border: none;
          outline:none;
          background-color:rgba(lightgray,.4);
          width: 90%;
          border-radius: 20px;
          padding:10px;
          height:100px;
          rows:50;
          columns: 50;
        }
        button{
          @extend .button;
          height:42px;
          margin-top:20px;
        }
      }
    }
    
  }
  
}



@media screen and(max-width:768px){
  body{
  }
  section{
    margin-top: 0;
    padding:0;
    padding-bottom: $nav-height;
    overflow-x:hidden;
  }
  .nav-bar{
    position: fixed;
    top:auto;
    bottom:0;
    display:grid;
    height:auto;
    grid-template-rows: auto auto;
    grid-template-columns: auto 2rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 25px gainsboro;
    z-index:1000;
    background-color:$primary-color;
    color: white;
    z-index: 2;

    .nav-menu-links{
      grid-area:1/1/2/span 2;
      padding:2rem .7rem 2rem .7rem;
      display:none;
      &.active{
        display:block;
      }
      ul{
        display:grid;
        grid-template-columns: auto auto auto;
        justify-content:space-around ;
        row-gap: 2rem;
        width:100%;
      
        li{
          a{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            padding:.2rem;
            font-size: 1.2rem;
            color:white;
            i{
              display:block
            }
          }
        }
      }
    }
    .nav-bar-title{
      grid-row-start: 2;
      justify-content:flex-start;
      height:75px;
      color:white;
    }
    .nav-bar-button{
      display:block;
      grid-row-start: 2;
      grid-column-start: 2;
      display:flex;
      justify-content:center;
      align-items:center;
      height:75px;
      font-size: 1.2rem;
    }
  }
  .home-container{
    display:grid;
    overflow:hidden;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    .image-container{
      grid-row-start: 1;
    }
    .text-container{
      display: flex;
      >*{
        align-self: center;
      }
    }
  }
  .contact-container{
    form{
      display:grid;
      grid-template-columns: 3rem auto;
      grid-template-rows: auto auto;
      h1{
        grid-column: span 2;
      }
      .form-left{
        grid-row-start: 2;
        grid-column: span 2;
      }
      .form-right{
        grid-row-start:3;
        grid-column: span 2;
        h4{
          margin-top:2rem;
        }
      }
    }
  }
  
}